In [1]:
import pandas as pd
from sqlalchemy import create_engine
from pathlib import Path
from tqdm import tqdm
from rq import Queue
from redis import Redis
from time import sleep
from random import randint
import os
import dask.dataframe as dd
from src.helpers import get_dataframe

In [12]:
con_str = "postgresql://postgres:postgres@postgres"
data_location = Path("data/rq_results")
data_location.mkdir(exist_ok=True)
engine = create_engine(con_str)

In [27]:
pd.read_sql("SELECT COUNT(*) FROM yellow_taxi", engine)

     count
0  6896317

In [29]:
# Initalize redis
redis_client = Redis(host="redis")
Q = Queue(connection=redis_client)

In [30]:
jobs = []
for i in range(1,32):
    day = f"2019-01-{i:02}"
    job = Q.enqueue(get_dataframe, day, con_str, data_location)
    jobs.append(job)

In [31]:
while any([not(j.is_finished) for j in jobs]):
    print(f"Some jobs still running - {sum(not(j.is_finished) for j in jobs)} jobs are still running")
    sleep(15)

Some jobs still running - 31 jobs are still running
Some jobs still running - 27 jobs are still running
Some jobs still running - 26 jobs are still running
Some jobs still running - 21 jobs are still running
Some jobs still running - 17 jobs are still running
Some jobs still running - 13 jobs are still running
Some jobs still running - 9 jobs are still running
Some jobs still running - 6 jobs are still running
Some jobs still running - 2 jobs are still running

In [32]:
ddf = dd.read_parquet("data/rq_results/yellow_taxi-*.parquet")

In [33]:
ddf.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 4 entries, tpep_pickup_datetime to fare_amount
dtypes: datetime64[ns](1), float64(3)

In [34]:
ddf.describe().compute()

       passenger_count  trip_distance   fare_amount
count     6.844915e+06   6.895933e+06  6.895933e+06
mean      1.550870e+00   2.973400e+00  1.359022e+01
std       1.174321e+00   1.643155e+01  1.522734e+02
min       0.000000e+00  -3.726453e+04 -1.472000e+03
25%       1.000000e+00   1.080000e+00  7.000000e+00
50%       1.000000e+00   1.870000e+00  1.050000e+01
75%       2.000000e+00   3.670000e+00  1.650000e+01
max       9.000000e+00   1.913018e+04  3.984684e+05

In [35]:
ddf.head()

  tpep_pickup_datetime  passenger_count  trip_distance  fare_amount
0  2019-12-01 00:26:58              1.0           4.20        14.50
1  2019-12-01 00:15:00              NaN          -7.70        29.51
2  2019-12-01 00:27:00              NaN         -15.24        48.41
3  2019-12-01 00:07:00              NaN           0.09        46.66
4  2019-12-01 00:24:00              NaN          -2.67        18.45